
node_modules/

dist/
build/
out/
coverage/

react-snap/


.env
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


*.tsbuildinfo


.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

.cache/
.tmp/
temp/

*.sqlite
*.db


uploads/
